.container{
	padding: 20px;
	padding-top: 110px;
}
.formMobileContainer{
	max-width: 400px;
}
.title{
	margin: 0;
	font-weight: 400;
	font-size: 2.5rem;
	margin-bottom: 32px;
}
.formDesktopContainer{
	display: none;
}

@media (min-width: 900px) {
	.formMobileContainer{
		display: none;
	}
	.infoContainer{
		width: 50%;
	}
	.formDesktopContainer{
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
	}
	.container{
		padding: 32px;
		padding-top: 110px;
		display: flex;
	}
	.title{
	}
	.formContainer{
		width: 400px;
	}
}
